<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>成功！</h1>
    <!-- th:text 将div里面的文本内容设置为 -->
    <div th:text="${hello}" th:class="${hello}" th:id="${hello}">KAI</div>
    <hr/>
    <div th:text="${hello}"></div>          <!-- 转义 -->
    <div th:utext="${hello}"></div>         <!-- 不转义 -->
    <hr/>
    <!-- th:each每次遍历都会生成当前这个标签  三个h4-->
    <h4 th:each = "user: ${users}" th:text="${user}"></h4>
    <hr/>
    <h4>
        <!-- [[${user}]] 和 th:text="${user}" 相同 -->
        <span th:each = "user:${users}"> [[${user}]] </span>
    </h4>
</body>
</html>